# See this page for guidelines on using Conda in Travis:
# https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/use-conda-with-travis-ci.html
language: python

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda create -q -n dhmqc_env -c conda-forge
  - conda activate dhmqc_env
  - python src/build/build.py -v -x64 -force -cc gcc -cxx g++

script:
  - conda activate dhmqc_env
  - nosetests tests.py --with-coverage

after_success:
  - coveralls

notifications:
    email: false
