# For an overview of available software in the VM and their locations in the
# filesystem, see:
# https://www.appveyor.com/docs/windows-images-software/

os: Visual Studio 2015

platform: x64

matrix:
  fast_finish: true

environment:
  MINICONDA: C:\\Miniconda3-x64
  MINGW: C:\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0
  CONDA_ENV_NAME: dhmqc_env

# Should speed up repository cloning
shallow_clone: true
clone_depth: 5

install:
  - set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%
  - conda config --set always_yes yes --set changeps1 no
  - conda create -n %CONDA_ENV_NAME% -c conda-forge gdal owslib psycopg2 numpy scipy pandas laspy laszip lastools nose
  - activate %CONDA_ENV_NAME%
  - echo %PATH%

build_script:
  - cd C:\projects\DHMQC
  # Showing PATH may help in debugging failing builds
  - echo %PATH%
  # MSVC not yet supported for C++ compilation
  - python src\build\build.py -v -x64 -force -cc %MINGW%\mingw64\bin\gcc.exe -cxx %MINGW%\mingw64\bin\g++.exe

test_script:
  # Ensure our DLLs can find the MinGW runtime
  - set PATH=%PATH%;%MINGW%\mingw64\bin
  - echo %PATH%
  - cd C:\projects\DHMQC
  - nosetests -v
